:root {
  --primary: #3a636c;
  --bg: #e0e0cf;
}

@font-face {
  font-family: "caps";
  src: url("../fonts/caps/caps.ttf");
}

@font-face {
  font-family: "lemon";
  src: url("../fonts/lemon/lemon.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  color: #192931;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  background-color: rgba(126, 186, 179, 0.9);
  border-bottom: 1px solid rgb(69, 128, 127);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-family: "lemon";
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: #7c7c6d;
}

.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem;
}

.navbar .navbar-nav a:hover {
  color: #7c7c6d;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #7c7c6d;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(224, 224, 207, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 75%;
}

.hero .content h1 {
  position: absolute;
  right: 5%;
  top: 27.5%;
  text-align: right;
  font-family: "caps";
  font-weight: 100;
  font-size: 7.5rem;
  color: var(--bg);
  text-shadow: 5px 5px 10px rgba(1, 1, 3, 1);
  line-height: 1;
  max-width: 45%;
}

.hero .content h1 span {
  color: #ac6c54;
}

.hero .content .cta {
  font-family: "lemon";
  position: absolute;
  right: 6.25%;
  margin-top: 3.75%;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--bg);
  background-color: #ac6c54;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.75);
}

.hero .content .cta:hover {
  color: #3a636c;
}

/* About Section */
.about {
  background-color: rgb(1, 1, 3);
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: -58.75%;
  transform: rotate(180deg);
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(224, 224, 207, 0) 50%
  );
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #e0e0cf;
  padding-top: 8.725rem;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  position: relative;
}

.about .row .about-img img {
  max-width: 100vw;
  position: relative;
  left: -1.25%;
}

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 0.5rem 0;
  padding-bottom: 0.3rem;
  position: relative;
  top: -1rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: var(--bg);
  margin: 1rem;
}

footer .socials a:hover {
  color: #ac6c54;
}

footer .links a:hover {
  color: #ac6c54;
}

footer .links {
  margin-bottom: 1.3rem;
}

footer .links a {
  color: var(--bg);
  padding: 0.7rem 1rem;
}

footer.credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .hero .content h1 {
    max-width: 100%;
  }
  .hero .content .cta {
    position: absolute;
    top: 55%;
    right: 5%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #4e534c;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(45%);
  }

  .about::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -52.5%;
    transform: rotate(180deg);
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 8%,
      rgba(224, 224, 207, 0) 50%
    );
  }

  .hero .content .cta {
    position: absolute;
    top: 17.5%;
    right: 5%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .about::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -47.5%;
    transform: rotate(180deg);
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 8%,
      rgba(224, 224, 207, 0) 50%
    );
  }
}
